### Dataset
### Nombre: Factores de rendimiento de los estudiantes (Traducción automática con Google)
Información sobre el rendimiento de los estudiantes y los factores que contribuyen a él  
  
**Descripción** (Traducción automática con Google)
Este conjunto de datos proporciona una descripción general completa de los diversos factores que afectan el desempeño de los estudiantes en los exámenes. Incluye información sobre los hábitos de estudio, la asistencia, la participación de los padres y otros aspectos que influyen en el éxito académico.

### Columnas

* Hours_Studied: Número de horas dedicadas al estudio por semana.
* Attendance: Porcentaje de clases asistidas.
* Parental_Involvement: Nivel de participación de los padres en la educación del estudiante (Bajo, Medio, Alto).
* Access_to_Resources: Disponibilidad de recursos educativos (Baja, Media, Alta).
* Extracurricular_Activities: Participación en actividades extracurriculares (Sí, No).
* Sleep_Hours: Número promedio de horas de sueño por noche.
* Previous_Scores: Puntuaciones de exámenes anteriores.
* Motivation_Level: Nivel de motivación del estudiante (Bajo, Medio, Alto).
* Internet_Access: Disponibilidad de acceso a Internet (Sí, No).
* Tutoring_Sessions: Número de sesiones de tutoría a las que asistimos por mes.
* Family_Income: Nivel de ingreso familiar (Bajo, Medio, Alto).
* Teacher_Quality: Calidad de los docentes (Baja, Media, Alta).
* School_Type: Tipo de escuela a la que asiste (pública, privada).
* Peer_Influence: Influencia de los pares en el rendimiento académico (Positiva, Neutral, Negativa).
* Physical_Activity: Número promedio de horas de actividad física por semana.
* Learning_Disabilities: Presencia de discapacidades de aprendizaje (Sí, No).
* Parental_Education_Level: Nivel más alto de educación de los padres (secundaria, universidad, posgrado).
* Distance_from_Home: Distancia del hogar a la escuela (Cerca, Moderada, Lejos).
* Gender: Género del estudiante (Masculino, Femenino).
* Exam_Score: Puntuación del examen final.

In [1]:
# Importación de librerías 
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [3]:
# Levanto el dataset
url = 'https://raw.githubusercontent.com/gafifran/cienciaDatos1/main/StudentPerformanceFactors.csv'
df = pd.read_csv(url, sep = ',')
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [8]:
df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000